.view {
  height: 86vh;
  margin: 30px 30px 0 30px;
  position: relative;
  z-index: 2;
  box-shadow: 1px -1px 0.2em 1px grey, -1px 1px 0.2em grey;
  left: 5em;
  width: 100%;
  .ant-modal-content{
    height: 104%;
    width: 85%;
  }
  .ant-modal-body{
    padding: 0;
  }
  .taskTab{
    height: 67vh;
    overflow-y: scroll;
  }
  .viewHeader{
    display: flex;
    padding-left: 1em;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
    height: 4em;
    width: 100%;
    .ant-tabs-nav-wrap{
      padding-left: 13px;
    }
    .viewHeader-select{
      position: relative;
      right: -24em;
      top: -24px;
    }
    &-icon {
      svg{
        height: 3em;
        width: 3em;
        color: #ff92b5;
      }
    }
    .time-range{
      position: relative;
      top: 4px;
      font-size: 20px;
    }
    &-select{
      .ant-select {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        color: rgba(0, 0, 0, 0.85);
        font-size: 14px;
        font-variant: tabular-nums;
        line-height: 1.5715;
        list-style: none;
        font-feature-settings: 'tnum', "tnum";
        position: absolute;
        display: inline-block;
        cursor: pointer;
        right: 9em;
        top: 2em;
      }
    }
  }
}
.viewCustom{
  .btn-save{
    position: absolute;
    right: 6px;
    bottom: 5px;
    z-index: 994;
    height: 39px;
    width: 77px;
    border: none;
    background-color: #4158D0;
    background-image: linear-gradient(71deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    cursor: pointer;
    border-radius: 25px;
  }
  .btn-save:hover{
    background-color: #ce0f8c;
    color: white;
  }
  .ant-modal-footer{
    position: absolute;
    right: 4px;
    bottom: -2px;
    border:none;
    
  }
}